<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body class="bg-[#0c0c0c]">
  <div class="w-40 h-40 mx-auto mt-10 drop-shadow-md scale-100 hover:scale-105 ease-out duration-500 hover:opacity-50">
    <a href="#">
      <img class="rounded-full" src="https://cdn.discordapp.com/avatars/1092056353431887935/fc7d32bdd4d684bdc73d0de1a620b684.webp?size=512&width=0&height=0">
    </a>
  </div>
  <div class="bg-[#0a0a0a] w-[380px] h-14 mx-auto mt-10 rounded-lg border border-zinc-900">
    <nav>
      <ul class="navbar">
        <li class="hover:opacity-70 duration-500"><a href="#home">Home</a></li>
        <li class="hover:opacity-70 duration-500"><a href="#about">About</a></li>
        <li class="hover:opacity-70 duration-500"><a href="#services">Services</a></li>
        <li class="hover:opacity-70 duration-500"><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</body>
</html>